
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #75809a
}
h1 {
  font-size: 60px;
  font-weight: 700;
}
@media screen and (max-width: 1199px) {
  h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 991px) {
  h1 {
    font-size: 40px;
  }
}
h2 {
  font-size: 36px;
  color: #031b4e;
  font-weight: 500;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 20px;
}
h3 {
  font-size: 18px;
  color: #031b4e;
}
.text-white {
  color: white;
}
a.link {
  color: #005ff9;
  font-weight: 500;
  -webkit-transition: color 0.4s ease-out;
  -moz-transition: color 0.4s ease-out;
  -o-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
}
a:hover.link{
color: #0053c9;
text-decoration: none;
}
.translate {
  display: block;
  transform: translate(0, -25px);
}
.padding_100 {
  padding: 100px 0;
}
.padding_bot {
  padding-bottom: 70px;
}
.padding_bot_20 {
  padding-bottom: 20px;
}
.p_top_30px {
  padding-top: 30px;
}
.m_bot_30 {
  margin-bottom: 30px;
}


/* HEADER */
.logo {
  width: 160px;
}

/* NAV */
nav {
  height: 66px;
  width: 100%;
  position: fixed;
  top: 0;
  line-height: 66px;
  z-index: 1030;
  background-color: white;
}
a.nav_item {
  font-size: 14px;
  padding: 0 10px;
  font-weight: 500;
  color: #031c4e;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
a:hover.nav_item {
  text-decoration: none;
  color: #3a8aff;
}
a.sign_up {
  color: #006aff;
  border: 1px solid #006aff;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
a:hover.sign_up {
  color: white;
  background-color: #006aff;
}
.hamburger {
  color: #3a8aff;
  font-size: 20px;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.hamburger:hover {
  color: #0b49a3;
}

/* JUMBOTRON */
.jumbo {
  margin-top: 66px;
  background-image: url(../img/bg-home-1-d54581d7.jpg);
  background-position: center;
  background-size: cover;
  padding: 60px 0;
}
.jumbo_text {
  font-size: 24px;
  color: #b8caff;

}
.get_started {
  background-color: white;
  border-radius: 5px;
  padding: 25px;
}
.get_started h3 {
  margin: 0;
  text-align: center;
  font-size: 28px;
  line-height: 35px;
}
.form-control {
  border: 1px solid #e7e7e7;
  box-shadow: none;
  height: 40px;
}
.form-group {
  margin: 10px 0 10px 0;
}
.btn_account {
  background-color: #3a8aff;
  width: 100%;
  color: white;
  height: 40px;
  display: block;
  transition: background-color 0.4s ease-out;
}
.btn_account:hover {
  color: white;
  background-color: #216cdb;
}
.btn_google {
  height: 40px;
  width: 100%;
  display: block;
  margin-top: 10px;
  position: relative;
  border: 1px solid #bfd9fe;
  background-color: #eff7ff;
  color: #031c4e;
  font-weight: 700;
  transition: background-color 0.4s ease-out;
}
.btn_google:hover {
  background-color: #D5E4F7;
}
.ggl_icon {
  position: absolute;
  top: 9px;;
  left: 10px;;
  width: 20px;
}
.tos {
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
}

/* *********
MAIN
********* */

/* SECTION LOGOS */
#logos {
  background-color: #f3f5f9
}
.h2size {
  font-size: 14px;
  opacity: 0.4;
  letter-spacing: 2px;
  text-align: center;
  transform: translate(0, 35px);
}
.v_align {
  vertical-align: middle;
  height: 160px;
  line-height: 160px;
}
.img_logo {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .img_logo {
    width: 200px;
  }
}

/* SECTION DEPLOY */
.text {
  font-size: 20px;
  color: #5c6a88;
  text-align: center;
}
a.btn_deploy {
  display: block;
  border-left: 2px solid #cccccc;
  height: 50px;
  line-height: 50px;
  padding-left: 12px;
  color: #75809a;
  -webkit-transition: border 0.4s ease-out;
  -moz-transition: border 0.4s ease-out;
  -o-transition: border 0.4s ease-out;
  transition: border 0.4s ease-out;
}
a:hover.btn_deploy {
  color: #006aff;
  border-left: 2px solid #006aff;
  text-decoration: none;
}
.btn_deploy.btn_deploy_active {
border-left: 2px solid #006aff;
color: #006aff;
}

/* SECTION DESIGNED */
#designed {
  background-color: #f3f5f9
}
.width_100 {
  width: 100%;
}
.chevron {
  padding-top: 225px;
  font-size: 30px;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.chevron:hover {
  color: #031c4e;
  cursor: pointer;
}
@media screen and (max-width: 1199px) {
  .chevron {
    padding-top: 180px;
  }
}
@media screen and (max-width: 991px) {
  .chevron {
    padding-top: 130px;
  }
}
a.dots {
  height: 12px;
  width: 12px;
  border: 1px solid #006aff;
  border-radius: 50%;
  display: inline-block;
  margin: 3px;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
.dots_active,
a:hover.dots {
  background-color: #006aff;
}



/* SECTION CUSTOMERS */
#customers {
  background: linear-gradient(0deg, rgba(0,30,154,1) 0%, rgba(0,71,197,1) 100%);
}
#customers p {
font-size: 13px;
}
a.test_speed {
  font-size: 13px;
  color: #00d5d1;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
a:hover.test_speed {
  color: #006aff;
  text-decoration: none;
}
hr {
  margin: 3px 0 15px 0;
}
.city_color {
  color: #aebde4;
}

/* SECTION TEAMS */
#teams {
  background-color: #f3f5f9
}
.box_teams {
  background: white;
  border-radius: 5px;
  width: auto;
  text-align: center;
  padding: 80px 20px;
}
.link_teams {
  display: block;
  font-size: 18px;
}
.chevron2 {
  padding-top: 180px;
  font-size: 30px;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.chevron2:hover {
  color: #031c4e;
  cursor: pointer;
}


/* SECTION NOW */
#now {
  background: linear-gradient(0deg, rgba(0,30,154,1) 0%, rgba(0,71,197,1) 100%);
}
a.btn_create {
  background-color: white;
  border-radius: 5px;
  font-weight: 500;
  padding: 15px;
  font-size: 18px;
  color: #0069ff;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
a:hover.btn_create{
  opacity: 0.7;
  text-decoration: none;
}
.start_now {
  color: white;
  margin: 0 0 20px 0;
}

/* FOOTER */
footer {
  background-color: #031c4e;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #8892a7;
}
footer a {
  color: #a6adbd;
  display: block;
  margin-bottom: 10px;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
footer p {
  font-weight: 500;
  color: white;
  font-size: 16px;
}
footer a:hover {
  color: white;
  text-decoration: none;
}
.ico_footer {
  font-size: 22px;
  margin-right: 10px;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
.ico_footer:hover {
  color: white;
  cursor: pointer;
}
.p_footer {
  color: #5a6887;
  font-weight: 400;
  font-size: 14px;
}
.margin_0 {
  margin: 0;
  font-weight: 400;
}
.chat {
  position: fixed;
  z-index: 1000;
  right: 30px;
  bottom: 40px;
  vertical-align: bottom;
  height: 70px;
  padding-right: 10px;
}
.chat_icon img {
  width: 54px;
}
.chat_icon {
  width: 60px;
  height: 60px;
  padding: 8px 3px;
  border-radius: 5px;
  display: inline-block;
  background-color: #006aff;
  margin-left: 20px;
}
.chat_icon:after {
  position: absolute;
  content: "3";
  background-color: red;
  border: 3px solid white;
  border-radius: 50%;
  color: white;
  font-weight: 700;
  width: 27px;
  height: 27px;
  text-align: center;
  top: 0;
  right: 0;
}

.chat_text {
  display: inline-block;
  background-color: white;
  height: 70px;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  vertical-align: bottom;
  box-shadow: 0px 0px 5px;
}
